.about-title{
    text-align: center;
    margin-top: 3rem;
}

.about-title h1{
    margin-bottom: 30px;
    font-size: 35px;
    color: #4D4D4D;
}

.alink {
    color: rgb(122, 157, 239);
    text-decoration: none;
}

.about-info{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-image img{
    width: 280px;
    height:300px;
    border-radius: 5%;
    margin-right: 50px;
}

.about-info p{
    color: #4D4D4D;
    margin: 5px;
    letter-spacing: 0.3px;
}

.about-header{
    display: flex;
    justify-content: center;
}

.about-break{
    margin: 80px 250px 80px 250px;
    height: 2px;
    background-color: #4d4d4d4e;
    opacity: 0.7;
    border: none;
}

.jot-note{
    display: flex;
    justify-content: center;
    width: 100%;
}

.final-text p{
    letter-spacing: 0.3px;
    color: #4D4D4D;
    margin: 5px;
}

.final-text{
    display: flex;
    justify-content: center;
}

.jot-note ul{
    width: 60%;
    letter-spacing: 0.3px;
    color: #4D4D4D;
}

.jot-note li{
    margin: 13px 0px 13px 0px;
}

@media  screen and (max-width:900px) {
    .about-header{
        flex-direction: column;
        align-items: center;
    }
    .about-info p{
        width: 300px;
        margin: 20px;
    }

    .about-image img{
        margin-right: 0px;
    }
} 
