.project-container{
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.4s ease ;
}
.project-image{
    width: 400px;
    height: 370px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.212);
}

.project-container:hover{
    transform: translateY(-10px);
    box-shadow: 13px 14px 13px -12px rgba(97,97,97,1);  
}

.p-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.212);
    border-left: 1px solid rgba(0, 0, 0, 0.212);
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

.p-info h3{
    color: #858585;
}

.p-info p{
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 10px;
    margin: 5px;
    opacity: 0.4;
}

.skill-tags{
    display: flex;
    justify-content: space-between;
}

.project-container img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media  screen and (max-width:400px) {

    .project-image{
      width: 340px;
      height: 310px;
    }
  }