.company-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
}

.company-title{
    text-align: center;
}

.company-title h1{
    margin-bottom: 8px;
    font-size: 35px;
    opacity: 70%;
}

.company-title p{
    opacity: 40%;
    margin: 5px;
}

.images{
    margin: 100px;
}
