.company-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
}

.company-title{
    text-align: center;
}

.job-desc {
    opacity: 67%;
}

.job-desc p{
    margin: 10px;
    text-align: center;
}

.job-desc li{
    margin: 8px;
}

.i{
    text-align: center;
    margin: 20px;
    opacity: 40%;
}

.company-title h1{
    margin-bottom: 8px;
    font-size: 35px;
    opacity: 70%;
}

.company-title p{
    opacity: 40%;
    margin: 5px;
}

.images{
    margin: 50px;
}
