.exp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 5rem 0;
}

.title{
  text-align: center;
}

.a{
  margin-top: 9rem;
}

.title h1{
  margin: 0rem 0rem 1.2rem 0rem;
  font-size: 2.3em;
  color: #4D4D4D;
}

.projs{
display: flex;
justify-content: center;
}

.proj1{
  margin: 35px
}

.proj2{
  margin: 35px
}

.more-projs{
  width: 100%;
  text-align:center;
  margin: 0.5rem 0 18rem 0;
}

.more-projs a{
  text-decoration: none;
  color: #3a3a3a77;
  font-size: 1.3em;
  border: 2px solid #c4c4c4;
  padding: 15px 20px 15px 20px;
  border-radius: 0.5em;
  font-weight: 400;
  letter-spacing: 1px;
}

@media screen and (max-width: 1024px){

  #experience{
    margin-top: 3rem;
  }
}

@media screen and (max-width: 450px){

  #experience{
    margin-top: 5rem;
  }
}