.exp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}

.title h1{
  margin: 120px 0px 25px 20%;
  font-size: 35px;
  opacity: 70%;
  width: 20%;
  color: black;
}

.projs{
  display: flex;
  justify-content: center;
}

.proj1{
  margin: 20px
}

.proj2{
  margin: 20px
}

.more-projs{
  width: 100%;
  text-align:center;
  opacity: 70%;
  margin: 50px 0px 150px 0px;
}

.more-projs a{
  text-decoration: none;
  color: black;
  opacity: 70%;
  font-size: 15px;
  border: 1px solid black;
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
}