*{
    font-family: 'Poppins', sans-serif;
}

.showcase{
    height: 100vh;
    z-index: 2;
    color: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 7rem;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left:0;
    width: 100%;
    z-index: 10;
    opacity: 0.9;
}

.text h1{
    font-size: 5em;
    font-weight: 600;
    margin: 0 0 3.5rem 0;
    letter-spacing: 5px;
}

.text h2{
    font-size: 1.6em;
    letter-spacing: 2px;
    font-weight: 500;
}

.text h3{
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 1px;
}

.text h3 a{
    color: white;
    text-decoration: none;
}

 .showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
  }

 /* .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #757575;
    mix-blend-mode: overlay;
}    */

.more-info{
    position: absolute;
    left:0;
    width: 100%;
    top:85%;
    text-align: center;
    z-index: 10;
}

.more-info img{
    width: 1em;
    height: auto;
    margin-top: 15px;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    filter: invert(100%) sepia(0%) saturate(7475%) hue-rotate(66deg) brightness(98%) contrast(107%);
}

@keyframes dropeffect{

    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(10px);
    }
    60% {
      transform: translateY(10px);
    }
  }

@media (max-width: 1130px) {

    .showcase{
        margin-bottom: 52rem;
    }
}

@media (max-width: 630px) {

    .text h1{
        font-size: 4.8em;
    }

    .text h2{
        font-size: 1.4em;
    }

    .text h3{
        font-size: 1.2em;
    } 
}

@media (max-width: 500px) {

    .text h1{
        font-size: 3.8em;
    }

    .text h2{
        font-size: 1.25em;
    }

    .text h3{
        font-size: 1.05em;
    } 
}

@media (max-width: 400px) {

    .text h1{
        font-size: 3.6em;
        letter-spacing:2px;
    }

    .text h2{
        font-size: 1.25em;
    }

    .text h3{
        font-size: 1.01em;
    } 
}

@media (max-width: 340px) {

    .text h1{
        font-size: 3.1em;
        letter-spacing:0.2px;
    }

    .text h2{
        font-size: 1.01em;
    }

    .text h3{
        font-size: 0.8em;
    } 
}