*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: white;
  scroll-behavior: smooth;
  font-family: 'Roboto Slab';
}

.example{
  position: absolute;
  width: 100%;
  height: 100%;
}

.link{
  color: rgb(68, 126, 250);
  opacity: 70%;
  text-decoration: none;
}

.exp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.title h1{
  margin: 150px 0px 25px 20%;
  font-size: 35px;
  opacity: 70%;
  width: 20%;
  color: black;
}
