nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
    margin-bottom: 60px;
}

.logo{
    width: 50%;
}

.links a{
    text-decoration: none;
    color: black;
    opacity: 70%;
    transition: ease-in 0.8s;
    font-size: 15px;
    margin: 50px;
}

.logo img{
    width: 45px;
    height: 45px;
    opacity: 75%;
}