 nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
    margin-bottom: 60px;
}
/* 
.logo{
    width: 50%;
}

.links a{
    text-decoration: none;
    color: black;
    opacity: 70%;
    font-size: 15px;
    margin: 30px;
}

.links a:hover{
    border-bottom: 2px solid rgb(68, 126, 250);
    padding-bottom: 3px;
}   

.logo img{
    width: 45px;
    height: 45px;
    opacity: 75%;
}

.slink{
    cursor: pointer;
}

.burger{
    display: none;
    opacity: 70%;
}

.burger div{
    width: 23px;
    height: 2.5px;
    background-color:black;
    opacity: 70%;
    margin: 5px;
}

@media  screen and (max-width:768px) {

    body{
        overflow-x: hidden;
    }
    .links{
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 13vh;
        opacity: 92%;
        background-color: rgb(231, 231, 231);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 60%;
        border: 1px solid rgb(233, 233, 233);
        transition: transform 0.5s ease-in;
        transform: translateX(100%);
        z-index: 100;
    }
    .links a {
        background-color: rgb(231, 231, 231);

    }
    .burger{
        display: block;
        cursor: pointer;
    }
}

.transition{
    transform: translateX(0%);
} */ 